.footerContainer {
  display: flex;
  justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70%; }

.containerNoticias {
  margin: 10px;
  padding: 10px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "noticia1 noticia2 noticia3"; }

.noticia1 {
  grid-area: noticia1; }

.noticia2 {
  grid-area: noticia2; }

.noticia3 {
  grid-area: noticia3; }

h1 {
  color: darkblue;
  text-align: center;
  padding: 5px; }

.seccionSuperior {
  background-image: linear-gradient(#0c0c01, #ff9100); }

.seccionSuperior {
  background-image: linear-gradient(#0c0c01, #ff9100); }

header {
  color: black;
  padding: 10px;
  font-style: italic;
  font-family: 'Notable', sans-serif; }

nav {
  font-size: xx-large;
  font-style: italic;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.hoy {
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 50px; }

.noticiaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center; }

.imagenDolar {
  padding: 10px;
  width: 200px;
  height: 110px;
  transition: ease 3s; }

.imagenDolar:hover {
  width: 500px;
  height: 300px; }

.imagenBatakis {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 100px;
  transition: linear 2s; }

.imagenBatakis:hover {
  width: 500px;
  height: 300px; }

.pieFotoNoticiaPrincipal {
  color: red;
  padding: 5px; }

.ultimasNoticias2 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bold; }

ul li {
  color: black;
  font-size: large;
  font-style: inherit; }

main h3 {
  font-style: italic;
  font-size: 30px;
  font-family: sans-serif;
  text-indent: 5px; }

li {
  text-decoration: none;
  color: black; }

.economia {
  color: black;
  text-align: center;
  font-size: 50px; }

.flex {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.dolarBlue {
  color: black;
  background-color: lightsteelblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.subTitulo4 {
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px; }

.inflacion {
  color: black;
  background-color: lightsteelblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large; }

.p2 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.imagenDolar2 {
  padding: 10px;
  width: 500px;
  height: 300px; }

.imagenInflacion {
  padding: 10px;
  width: 500px;
  height: 300px; }

.deportes {
  color: #0c0c01;
  background-color: white;
  font-size: 50px;
  text-align: center; }

.subTitulo1 {
  color: black;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
  background-color: lightsteelblue; }

.subTitulo2 {
  color: black;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
  background-color: lightsteelblue; }

.subTitulo3 {
  color: black;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
  background-color: lightsteelblue; }

.imagenPatronato {
  padding: 10px;
  width: 500px;
  height: 300px; }

.pDeportes {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.pDeportes2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.pDeportes3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.imagenAsesinato {
  padding: 10px;
  width: 500px;
  height: 300px; }

.imagenTata {
  padding: 10px;
  width: 500px;
  height: 300px; }

.contacto {
  text-align: center;
  font-size: 50px; }

.formContacto {
  font-size: 130%;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif; }

.cultura {
  color: black;
  text-align: center;
  font-size: 50px; }

.subTitulo5 {
  color: black;
  background-color: lightsteelblue;
  font-size: xx-large; }

.subTitulo6 {
  color: black;
  background-color: lightsteelblue;
  font-size: xx-large; }

.subTitulo7 {
  color: black;
  background-color: lightsteelblue;
  font-size: xx-large; }

.p3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.p4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.p5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  font-weight: bold; }

.imagenKiss {
  padding: 10px;
  width: 500px;
  height: 300px; }

.imagenLgante {
  padding: 10px;
  width: 500px;
  height: 300px; }

.imagenAccidente {
  padding: 10px;
  width: 500px;
  height: 300px; }

.formContacto {
  margin: 10px;
  padding: 10px; }

* {
  padding: 0;
  margin: 0; }

.seguinosEnRedes {
  background-color: black;
  color: aliceblue; }

.ultimasNoticias {
  color: black;
  background-color: white; }

h1 {
  width: 150px;
  height: 200px; }
