@import "./component/index";
@import "./component/economia";
@import "./component/deportes";
@import "./component/contacto";
@import "./component/cultura";
@import "./base/variables";
@import "./base/mapas";
*{
    padding: 0;
    margin: 0;
}
.seguinosEnRedes{
    background-color: black;
    color: aliceblue;
}
.ultimasNoticias{
    color: map-get($map: $standar, $key:color-standar );
    background-color: map-get($map: $standar, $key:bg-standar );
}
h1{
    @include medidas (150px, 200px)
}