.cultura{
    color: black;
    text-align: center;
    font-size: 50px;
}
.subTitulo5{
    color: black;
    background-color: lightsteelblue;
    font-size: xx-large;
}
.subTitulo6{
    color: black;
    background-color: lightsteelblue;
    font-size: xx-large;
}
.subTitulo7{
    color: black;
    background-color: lightsteelblue;
    font-size: xx-large;
}
.p3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 10px;
    font-weight: bold;
}
.p4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 10px;
    font-weight: bold;
}
.p5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 10px;
    font-weight: bold;
}
.imagenKiss{
    padding: 10px;
    width: 500px;
    height: 300px;
}
.imagenLgante{
    padding: 10px;
    width: 500px;
    height: 300px;
}
.imagenAccidente{
    padding: 10px;
    width: 500px;
    height: 300px;
}
.formContacto{
    margin: 10px;
    padding: 10px;
}